@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#calculator {
    width: 400px;
    height: 500px;
    flex: 0 0 auto;
    background-color: #414141;
    border: 12px solid #151515;
    border-radius: 2px;
    box-shadow: 0px 6px 24px #151515;
}

